{% extends '::layout.html.twig' %}

{% form_theme form.lines _self %}

{% block content %}
    <h1>Create a new invoice</h1>
    <p>This demo shows how polycollection can be used to represent different kinds of line item on a form.</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
    {{ form_end(form) }}
{% endblock %}

{% block infinite_form_polycollection_row %}
    {% set collectionForm = form %}
    <hr>
    <div class="collection" data-remove-selector="> .item > .row > div > a.remove_item">
        <div class="clearfix">
            <div class="pull-left">
                {{ form_label(collectionForm, 'Invoice lines') }}
            </div>
            <div class="pull-right">
                {% set form = prototypes.invoice_freight_line %}
                <a href="#" data-prototype="{{ block('entry_row') | escape }}" class="btn btn-success add_item" aria-label="Add freight line"><i class="glyphicon glyphicon-plus"></i> Freight line</a>
                {% set form = prototypes.invoice_product_line %}
                <a href="#" data-prototype="{{ block('entry_row') | escape }}" class="btn btn-success add_item" aria-label="Add product line"><i class="glyphicon glyphicon-plus"></i> Product line</a>
                {% set form = prototypes.invoice_service_line %}
                <a href="#" data-prototype="{{ block('entry_row') | escape }}" class="btn btn-success add_item" aria-label="Add service line"><i class="glyphicon glyphicon-plus"></i> Service line</a>
            </div>
        </div>
        <div class="items">
            {% for form in collectionForm %}
                {{ block('entry_row') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block entry_row %}
    <div class="item">
        <hr>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block invoice_freight_line_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.courier) }}</div>
        <div class="col-md-2">{{ form_row(form.unitPrice) }}</div>
        <div class="col-md-2 col-md-offset-2 text-right">
            <label>&nbsp;</label><br>
            <a href="#" class="btn btn-danger remove_item" aria-label="Remove"><i class="glyphicon glyphicon-minus"></i> Remove</a>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block invoice_product_line_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.productName) }}</div>
        <div class="col-md-2">{{ form_row(form.unitPrice) }}</div>
        <div class="col-md-2">{{ form_row(form.quantity) }}</div>
        <div class="col-md-2 text-right">
            <label>&nbsp;</label><br>
            <a href="#" class="btn btn-danger remove_item" aria-label="Remove"><i class="glyphicon glyphicon-minus"></i> Remove</a>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block invoice_service_line_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.description) }}</div>
        <div class="col-md-2">{{ form_row(form.unitPrice) }}</div>
        <div class="col-md-2">{{ form_row(form.quantity) }}</div>
        <div class="col-md-2 text-right">
            <label>&nbsp;</label><br>
            <a href="#" class="btn btn-danger remove_item" aria-label="Remove"><i class="glyphicon glyphicon-minus"></i> Remove</a>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
