{% block infinite_form_checkbox_grid_widget %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
        {% for h in headers.choices %}
            <th scope="col">{{ h.label }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for row in form %}
        {{ form_widget(row) }}
    {% endfor %}
</table>
{% endblock %}

{% block infinite_form_checkbox_row_widget %}
    <tr>
        <th scope="row">{{ form.vars.label }}</th>
    {% for cell in form %}
        <td>
            {# Bare checkbox with no label - bypass bootstrap_3_layout. #}
            {% form_theme cell 'form_div_layout.html.twig' %}
            {{ form_widget(cell) }}
        </td>
    {% endfor %}
    </tr>
{% endblock %}

{# A collection theme specially tuned for the photo gallery screen. #}
{% block _gallery_items_widget -%}
    <table class="table table-bordered collection collection-autoinitialize">
        <thead><tr>
            <th>Image</th>
            <th>Title</th>
            <th>Options</th>
        </tr></thead>
        <tbody class="items">{{ form_rest(form) }}</tbody>
        <tbody><tr>
            <td colspan="2"></td>
            <td><button class="btn btn-success add_item" type="button" data-prototype="{{ form_row(prototype) | escape }}"><i class="glyphicon glyphicon-plus"></i> Add</button></td>
        </tr></tbody>
    </table>
{%- endblock %}

{% block _gallery_items_entry_row -%}
    <tr class="item">
        <td>
            {#
                In this example we don't bother rendering form.file for already-uploaded files as it's not
                needed in a collection context where the entire row can just be removed and replaced.
            #}
            {{ form_row(form.meta) }}
            {% set attachment = form.vars.value %}
            {% set is_file_uploaded = attachment is not null and attachment.physicalName is not null %}
            {% if is_file_uploaded %}
                <img src="/uploads/{{ attachment.physicalName }}" style="max-width: 100px; max-height: 100px">
            {% else %}
                {{ form_row(form.file) }}
            {% endif %}
        </td>
        <td>
            {{ form_row(form.title) }}
        </td>
        <td><button class="btn btn-danger remove_item"><i class="glyphicon glyphicon-minus"></i> Remove</button></td>
    </tr>
{%- endblock %}
